:root {
  --main-bg-color: rgb(246, 246, 239);
  --link-color: rgb(4, 16, 43);
  --text-color: rgb(139, 139, 139);
  --header-color: rgb(255, 103, 0);
}

body {
  margin: 0;
  text-align: left;
  font-family: Verdana, sans-serif;
  background-color: white;
  font-size: 13px;
  color: var(--text-color);
}

.header {
  background-color: var(--header-color);
  padding: 4px;
  color: black;
}

.stories {
  background-color: var(--main-bg-color);
  margin: auto;
  padding: 4px;
}
.story {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
}
.hn {
  text-decoration: none;
  cursor: pointer;
}
.hn:link {
  text-decoration: none;
}

.header > a:visited {
  color: black;
}

.commentInfo {
  color: var(--text-color);
  padding-top: 8px;
}

.more {
  margin-top: 10px;
}

p {
  margin: 0;
}

.more:hover {
  cursor: pointer;
}

a {
  color: var(--link-color);
}

a:link {
  text-decoration: none;
}
.reactLink {
  color: var(--text-color);
}

a:visited {
  text-decoration: none;
  color: var(--text-color);
}

.display {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.comment {
  padding-left: 10px;
  margin: auto;
  width: 95%;
}
.comment a {
  word-break: break-all;
  text-decoration: underline;
}

.comments a {
  text-decoration: underline;
}
.header a {
  text-decoration: underline;
}

.comments {
  color: black;
  background-color: rgb(246, 246, 239);
  padding-bottom: 8px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media only screen and (max-width: 380px) {
  body {
    font-size: 11px;
  }

  .comment {
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    max-width: 95%;
  }

  .display {
    width: 95%;
  }
}
